@tailwind base;
@tailwind components;
@tailwind utilities;
/* this style for changing the color of scrool-y */
::-webkit-scrollbar {
  width: 15px; /* this one for the width of scroll container */

}

::-webkit-scrollbar-track {
  background: transparent; /* this one for the background-color of scroll container */
}

::-webkit-scrollbar-thumb {
  background: rgba(102, 62, 1, 0.753); /* Change to orangered color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white; /* Adjust hover color if needed */
}
*{
    font-family:Arial, Helvetica, sans-serif
}
.text-sh{
  text-shadow: 10px 10px 5px rgba(102, 62, 1, 0.753);
}
.sh{
  box-shadow: 0 0 10px rgba(102, 62, 1, 0.753);
}
.aft::after{
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid rgba(102, 62, 1, 0.753);
  left: 0;
  bottom: -2px;
}

.bef::after{
  position: absolute;
  content: "";
  width: 80%;
  border-bottom: 2px solid rgba(102, 62, 1, 0.753);
  left: 50%;
  transform: translate(-50%);
  bottom: -10px;

}